body {
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(30, 30, 54);
}

@media screen and (max-width: 900px) {
  .containera {
    width: 100%;
    height: auto;
  }
  .monica {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
  }
}
@media screen and (max-width: 550px) {
  .containera {
    width: 100%;
    height: auto;
  }
  .monica {
    display: grid;
    grid-template-columns: 1fr !important;
    justify-items: center;
    align-items: center;
  }
}
.containera {
  width: 100%;
  height: auto;
}
#heading {
  margin-top: 20px;
  color: aliceblue;
  width: 100%;
  text-align: center;
}
.monica {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 20px;
}
.spinne {
  position: relative;
  margin-top: 50px;
  transform: scale(0.6);
  display: grid;
  place-content: center;
}
